@font-face {
    font-family: logoFont;
    src: url(fonts/logo_font/Colchester.ttf);
}

@font-face {
    font-family: textBold;
    src: url(fonts/text_font/Mordred-Bold.ttf);
}

@font-face {
    font-family: textRegular;
    src: url(./fonts/text_font/Mordred.ttf);
}

main {
    font-family: textRegular;
}

* {
    margin: 0;
    padding: 0;
}

#logo {
    display: flex;
    margin-left: 20%;
}

.mainLogoText {
    font-family: logoFont;
    font-size: 75px;
    margin-top: 2.5%;
}

#mainLogoPic {
    width: 15%;
    height: 15%;
}


#navBar {
    height: 50px;
    width: 95%;
    margin-left: 2.5%;
    background-color: rgb(0, 0, 0);
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    display: flex;
    justify-content: space-evenly;
    box-sizing: border-box;
}

.navLinks {
    color: white;
    text-decoration: none;
    font-family: textBold;
    font-size: 30px;
    text-transform: uppercase;
}

ul li {
    list-style-type: none;
    line-height: 50px; 
    transition: 1s;   
}


#arrowDownCat{
    font-size: 15px;
    position: relative;
    bottom: 3px;
    left: 1.5px;
}

#catLinks {
    display: flex;
    justify-content: space-evenly;
}

.catLink {
    font-family: textBold;
    font-size: 25px;
    list-style-type: none;
    line-height: 70px;
    /* margin-left: 10%; */
}

.catLink a {
    text-decoration: none;
    color: black;
}

#subNavUp {
    width: 10%;
    height: 20%;
    position: relative;
    left: 46%;
    background-color: rgb(157, 0, 0);
    border: none;
}


#adSection{
    width: 60%;
    height: 200px;
    background: url(./homepage_media/ad_secondOneFree.gif);
    background-size: contain;
    margin-top: 50px;
    margin-left: 20%;
}


#newDropSec {
    max-width: 95%;
    max-height: 425px;
    background-color: rgba(235, 214, 214, 0.3);
    margin-left: 2.5%;
    overflow: hidden;
}

#articleContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: nowrap;
    width: 200%;
    position: relative;
}

#dropSecHeader {
    font-family: textBold;
    font-size: 40px;
    margin-left: 2.5%;
    margin-top: 2.5%;
}

.dropItem {
    width: 7.5%;
    height: 5%;
    padding: 0.5%;
    border: 1px solid black;
    background-color: white;
}

.dropItem img {
    width: 100%;
    height: 50%;
}

.dropItem .secondPic {
    position: absolute;
    width: 8%;
    height: 50%;
    margin-left: -7.7%;
    margin-top: -0.5%;
}

.dropItem .secondPic:hover {
    opacity: 0;
}

.dropItem h3 {
    font-size: 25px;
    border-bottom: 2px solid black;
}

.dropItem p {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5%;
}

.buyBtn {
    font-family: textRegular;
    width: 90%;
    height: 7%;
    font-size: 25px;
    margin-left: 5%;
}

#slideLeftBtn {
    position: relative;
    right: 2%;
    bottom: 225px;
    height: 50px;
    color: white;
    background-color: black;
}

#slideRightBtn{
    position: relative;
    left: 98.5%;
    bottom: 225px;
    height: 50px;
    color: white;
    background-color: black;
}

#modelsSection img {
    width: 95%;
    margin-left: 2.5%;
}


#mostPopular {
    width: 95%;
    height: 900px;
    background-color: rgba(235, 214, 214, 0.3);
    margin-left: 2.5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 3%;
}

#mostPopularHeader {
    font-size: 40px;
    margin-top: 7%;
    margin-left: 2.5%;
}

.popItem {
    width: 22%;
    height: 45%;
    padding: 0.5%;
    border: 1px solid black;
    background-color: white;
}

.popItem img {
    width: 100%;
    height: 50%;
}

.popItem .popSecondPic {
    position: absolute;
    width: 21%;
    height: 29.5%;
    margin-left: -20.9%;
    margin-top: -0.25%;
}

.popItem .popSecondPic:hover {
    opacity: 0;
}

.popItem h3 {
    font-size: 25px;
    border-bottom: 2px solid black;
}

.popItem p {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5%;
}

#contactUsForm {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 200px;
    text-align: center;
    margin-left: 30%;
    font-size: 50px;
    margin-top: 2%;
}

#emailInput {
    width: 60%;
    margin-left: 20%;
    margin-bottom: 5%;
    margin-top: 5%;
    height: 20px;
}

#textInput {
    height: 300px;
    width: 80%;
    margin-left: 10%;
}


#submitBtn {
    width: 20%;
    margin-left: 40%;
    margin-top: 2%;
}

footer {
    height: 200px;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.9);
    margin-top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cartPage {
    position: relative;
    left: 92.5%;
    top: 30px;
}

#cartPage img {
    width: 3.5%;
    position: fixed;
    z-index: 1000;
}

footer h1 {
    font-family: textBold;
}

#numOfItems {
    width: 1.5%;
    height: 3%;
    border-radius: 50%;
    text-align: center;
    color: white;
    position: fixed;
    left: 96%;
    top: 15px;
    z-index: 1001;
}

@media screen and (max-width: 1024px) {
    #contactUsForm {
        font-size: 35px;
    }
    .popItem .popSecondPic {
        height: 27.5%;
    }
    .dropItem .secondPic {
        height: 47%;
    }
    #logo {
        margin-left: 10%;
    }
}

@media screen and (max-width: 768px) {
    #logo {
        margin-left: 15%;
    }
    
    .mainLogoText {
        font-size: 50px;
    }
    #adSection{
        height: 125px;
    }
    #newDropSec {
        max-height: 325px;
    }
    #articleContainer {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-flow: nowrap;
        width: 200%;
        position: relative;
    }
    
    #dropSecHeader {
        font-size: 35px;
    }
    
    .dropItem {
        width: 10%;
        height: 2%;
        padding: 0;
    }
    
    .dropItem img {
        width: 100%;
        height: 25%;
    }
    
    .dropItem .secondPic {
        position: absolute;
        width: 10%;
        height: 60%;
        margin-left: -10%;
        margin-top: 0.25%;
    }
    
    .dropItem h3 {
        font-size: 20px;
    }
    
    .dropItem #descriptionNewDrop {
        display: none;
    }
    
    .buyBtn {
        display: none;
    }
    
    #slideLeftBtn {
        right: 3.5%;
        bottom: 125px;
    }
    
    #slideRightBtn{
        left: 97.5%;
        bottom: 125px;
    }
    .popItem {
        width: 25%;
        height: 30%;
        padding: 0.5%;
        border: 1px solid black;
        background-color: white;
    }
    
    .popItem img {
        width: 100%;
        height: 70%;
    }
    
    .popItem .popSecondPic {
        position: absolute;
        width: 24%;
        height: 34.5%;
        margin-left: -23.9%;
        margin-top: -0.25%;
    }
    .popItem h3 {
        font-size: 20px;
        border-bottom: 2px solid black;
    }
    
    .popItem #descriptionPop {
        display: none;
    }
    
}

@media screen and (max-width: 425px) {
    #logo {
        display: flex;
        margin-left: 10%;
    }
    
    .mainLogoText {
        font-family: logoFont;
        font-size: 50px;
        margin-top: 2.5%;
        margin-bottom: 2.5%;
    }
    
    #mainLogoPic {
        display: none;
    }

    #sinceText {
        display: none;
    }

    #cartPage {
        position: relative;
        left: 88.5%;
        top: 22.5px;
    }
    
    #cartPage img {
        width: 7.5%;
        position: fixed;
        z-index: 1000;
    }

    
    .navLinks {
        color: white;
        text-decoration: none;
        font-family: textBold;
        font-size: 20px;
        text-transform: uppercase;
    }
      
    
    .catLink {
        font-family: textBold;
        font-size: 15px;
        list-style-type: none;
        line-height: 70px;
    }
    #adSection{
        width: 40%;
        height: 50px;
        background: url(./homepage_media/ad_secondOneFree.gif);
        background-size: contain;
        margin-top: 50px;
        margin-left: 30%;
    }
    #newDropSec {
        max-width: 95%;
        max-height: 500px;
        background-color: rgba(235, 214, 214, 0.3);
        margin-left: 2.5%;
        overflow: scroll;
    }
    
    #articleContainer {
        display: flex;
        height: 100%;
        justify-content: space-around;
        align-items: center;
        flex-flow: nowrap;
        width: 800%;
        position: relative;
    }
    
    #dropSecHeader {
        font-family: textBold;
        font-size: 35px;
        margin-left: 2.5%;
        margin-top: 2.5%;
    }
    
    .dropItem {
        width: 10%;
        height: 100%;
        padding: 0.5%;
        border: 1px solid black;
        background-color: white;
    }
    
    .dropItem img {
        width: 100%;
        height: 50%;
    }
    
    .dropItem .secondPic {
        position: absolute;
        width: 10%;
        height: 72.5%;
        margin-left: -9.7%;
        margin-top: -0.5%;
    }
    
    
    .dropItem h3 {
        font-size: 25px;
        border-bottom: 2px solid black;
    }
    
    .dropItem p {
        font-size: 25px;
        font-weight: 600;
        margin-bottom: 5%;
    }
    
    
    #slideLeftBtn {
        display: none;
    }
    
    #slideRightBtn{
        display: none;
    }


    #mostPopular {
        width: 95%;
        height: 1500px;
        background-color: rgba(235, 214, 214, 0.3);
        margin-left: 2.5%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-bottom: 3%;
    }
    
    #mostPopularHeader {
        font-size: 40px;
        margin-top: 7%;
        margin-left: 2.5%;
    }
    
    .popItem {
        width: 40%;
        height: 20%;
        padding: 0.5%;
        border: 1px solid black;
        background-color: white;
    }
    
    .popItem img {
        width: 100%;
        height: 70%;
    }
    
    .popItem .popSecondPic {
        position: absolute;
        width: 38%;
        height: 35.5%;
        margin-left: -38.25%;
        margin-top: -0.25%;
    }
    
    
    .popItem h3 {
        font-size: 18px;
        border-bottom: 2px solid black;
    }
    
    .popItem p {
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 5%;
    }
}