@font-face {
    font-family: logoFont;
    src: url(fonts/logo_font/Colchester.ttf);
}

@font-face {
    font-family: textBold;
    src: url(fonts/text_font/Mordred-Bold.ttf);
}

@font-face {
    font-family: textRegular;
    src: url(./fonts/text_font/Mordred.ttf);
}

main {
    font-family: textRegular;
}

* {
    margin: 0;
    padding: 0;
}

#logo {
    display: flex;
    margin-left: 20%;
}

.mainLogoText {
    font-family: logoFont;
    font-size: 75px;
    margin-top: 2.5%;
}

#mainLogoPic {
    width: 15%;
    height: 15%;
}


#navBar {
    height: 50px;
    width: 95%;
    margin-left: 2.5%;
    background-color: rgb(0, 0, 0);
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    display: flex;
    justify-content: space-evenly;
    box-sizing: border-box;
}

.navLinks {
    color: white;
    text-decoration: none;
    font-family: textBold;
    font-size: 30px;
    text-transform: uppercase;
}

ul li {
    list-style-type: none;
    line-height: 50px; 
    transition: 1s;   
}


#arrowDownCat{
    font-size: 15px;
    position: relative;
    bottom: 3px;
    left: 1.5px;
}

#catLinks {
    display: flex;
    justify-content: space-evenly;
}

.catLink {
    font-family: textBold;
    font-size: 25px;
    list-style-type: none;
    line-height: 70px;
    /* margin-left: 10%; */
}

.catLink a {
    text-decoration: none;
    color: black;
}

#subNavUp {
    width: 10%;
    height: 20%;
    position: relative;
    left: 46%;
    background-color: rgb(157, 0, 0);
    border: none;
}


#adSection{
    width: 60%;
    height: 200px;
    background: url(./homepage_media/ad_secondOneFree.gif);
    background-size: contain;
    margin-top: 50px;
    margin-left: 20%;
}


#newDropSec {
    max-width: 95%;
    max-height: 425px;
    background-color: rgba(235, 214, 214, 0.3);
    margin-left: 2.5%;
    overflow: hidden;
}

#articleContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: nowrap;
    width: 200%;
    position: relative;
}

#dropSecHeader {
    font-family: textBold;
    font-size: 40px;
    margin-left: 2.5%;
    margin-top: 2.5%;
}

.dropItem {
    width: 7.5%;
    height: 5%;
    padding: 0.5%;
    border: 1px solid black;
    background-color: white;
}

.dropItem h3 {
    font-size: 25px;
    border-bottom: 2px solid black;
}

.dropItem p {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5%;
}

.buyBtn {
    font-family: textRegular;
    width: 90%;
    height: 7%;
    font-size: 25px;
    margin-left: 5%;
}

#slideLeftBtn {
    position: relative;
    right: 2%;
    bottom: 225px;
    height: 50px;
    color: white;
    background-color: black;
}

#slideRightBtn{
    position: relative;
    left: 98.5%;
    bottom: 225px;
    height: 50px;
    color: white;
    background-color: black;
}

#modelsSection img {
    width: 95%;
    margin-left: 2.5%;
}


#mostPopular {
    width: 95%;
    height: 900px;
    background-color: rgba(235, 214, 214, 0.3);
    margin-left: 2.5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 3%;
}

#mostPopularHeader {
    font-size: 40px;
    margin-top: 7%;
    margin-left: 2.5%;
}

.popItem {
    width: 22%;
    height: 45%;
    padding: 0.5%;
    border: 1px solid black;
    background-color: white;
}

.popItem h3 {
    font-size: 25px;
    border-bottom: 2px solid black;
}

.popItem p {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5%;
}

#contactUsForm {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 200px;
    text-align: center;
    margin-left: 30%;
    font-size: 50px;
    margin-top: 2%;
}

#emailInput {
    width: 60%;
    margin-left: 20%;
    margin-bottom: 5%;
    margin-top: 5%;
    height: 20px;
}

#textInput {
    height: 300px;
    width: 80%;
    margin-left: 10%;
}


#submitBtn {
    width: 20%;
    margin-left: 40%;
    margin-top: 2%;
}

footer {
    height: 200px;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.9);
    margin-top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cartPage {
    position: relative;
    left: 92.5%;
    top: 30px;
}

#cartPage img {
    width: 3.5%;
    position: fixed;
    z-index: 1000;
}

footer h1 {
    font-family: textBold;
}

#numOfItems {
    width: 1.5%;
    height: 3%;
    border-radius: 50%;
    text-align: center;
    color: white;
    position: fixed;
    left: 96%;
    top: 15px;
    z-index: 1001;
}
