@font-face {
    font-family: logoFont;
    src: url(../fonts/logo_font/Colchester.ttf);
}

@font-face {
    font-family: textBold;
    src: url(../fonts/text_font/Mordred-Bold.ttf);
}

@font-face {
    font-family: textRegular;
    src: url(../fonts/text_font/Mordred.ttf);
}

main {
    font-family: textRegular;
}

* {
    margin: 0;
    padding: 0;
}

#logo {
    display: flex;
    margin-left: 20%;
}

.mainLogoText {
    font-family: logoFont;
    font-size: 75px;
    margin-top: 2.5%;
}

#mainLogoPic {
    width: 15%;
    height: 15%;
}


#navBar {
    height: 50px;
    width: 95%;
    margin-left: 2.5%;
    background-color: rgb(0, 0, 0);
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    display: flex;
    justify-content: space-evenly;
    box-sizing: border-box;
}

.navLinks {
    color: white;
    text-decoration: none;
    font-family: textBold;
    font-size: 30px;
    text-transform: uppercase;
}

ul li {
    list-style-type: none;
    line-height: 50px; 
    transition: 1s;   
}


#arrowDownCat{
    font-size: 15px;
    position: relative;
    bottom: 3px;
    left: 1.5px;
}

#catLinks {
    display: flex;
    justify-content: space-evenly;
}

.catLink {
    font-family: textBold;
    font-size: 25px;
    list-style-type: none;
    line-height: 70px;
    /* margin-left: 10%; */
}

.catLink a {
    text-decoration: none;
    color: black;
}

#subNavUp {
    width: 10%;
    height: 20%;
    position: relative;
    left: 46%;
    background-color: rgb(157, 0, 0);
    border: none;
}

#cartPage {
    position: relative;
    left: 92.5%;
    top: 30px;
}

#cartPage img {
    width: 3.5%;
    position: fixed;
    z-index: 1000;
}

footer {
    height: 200px;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.9);
    margin-top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer h1 {
    font-family: textBold;
}

#numOfItems {
    width: 1.5%;
    height: 3%;
    border-radius: 50%;
    text-align: center;
    color: white;
    position: fixed;
    left: 96%;
    top: 15px;
    z-index: 1001;
}

#hatsContent {
    display: flex;
    flex-direction: row;
}

#hatsSideNav {
    margin-left: 5%;
    margin-top: 5%;
    width: 17.5%;
    height: 100%;
}

#hatsSideNav h1 {
    font-size: 50px;
}

#hatsSideNav button {
    cursor: pointer;
    font-size: 25px;
    font-family: textBold;
}

#allHatsBtn {
    border-bottom: 2px solid black;
    border-top: none;
    border-left: none;
    border-right: none;
}

#fittedHatsBtn {
    border-bottom: none;
    border-top: none;
    border-left: none;
    border-right: none;
}

#snapbackHatsBtn {
    border-bottom: none;
    border-top: none;
    border-left: none;
    border-right: none;
}

#hatsItems {
    width: 75%;
    margin-top: 5%;
    margin-left: 2.5%;
    height: 1000px;
    display: flex;
    flex-wrap: wrap;
}

.hatItem {
    width: 22.5%;
    height : 25%;
}

.hatItem img {
    width: 100%;
}

.hatItem h1 { 
    text-align: center;
}

.expendBtn {
    font-family: textRegular;
    font-weight: 700;
    font-size: 14px;
    border: none;
    cursor: pointer;
    margin-left: 37.5%;
    margin-top: 5%;
    color: black;
}

#displayItem{
    height: 30%;
    width: 95%;
    margin-left: 2.5%;
}

.specificItem{
    display: flex;
    justify-content: center;
}

.specificItem .specificText{
    margin-top: 7%;
}

.specificItem .specificText h3 {
    font-size: 50px;
}

.specificItem .specificText p {
    margin-top: 2%;
    width: 50%;
}

.specificPics {
    width: 45%;
}
.specificPics img {
    width: 70%;
    height: 40%;
}

.priceTag {
    font-size: 45px;
}

.buyBtn {
    margin-top: 7%;
    font-family: textBold;
    width: 65%;
    height: 7%;
    font-size: 25px;
    background: white;
}

.closeBtn {
    width: 4%;
    height: 4%;
    border-radius: 50%;
    background-color: white;
    position: relative;
    bottom: 300px;
    right: 650px;
    cursor: pointer;
}